/* GENERAL */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #73a3ad;
    color: #fdf8df;
}

ul{
    list-style: none;
}

h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
}

a{
    color: #fdf8df;
    text-decoration: none;
}

a:hover{
    color: #ffd202;
}

button{
    background-color: #fdf8df;
    padding: 15px;
    border: 1;
    border-style: hidden;
    border-radius: 30px;
    color: #719DA5;
}

button:hover{
    background-color:  #719DA5 ;
    color: #fdf8df;
    border-style: solid;
    border-color: #fdf8df;
}
/*/


/* HEADER */
header{
    top: 0;
    background-color: #719DA5;
    display: grid;
    padding: 40px 20px;
    text-align: center;
    padding-bottom: 10px;
}

header ul{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

#carrito{
    float: right;
    display: grid;
    font-size: 1rem;
}
/*/


/* INDEX */
.banner {
    width: 100%;
    height: auto;
}

#botones{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.seccion img{
    width: 250px;
    border-radius: 20px;
}

.seccion{
    justify-content: center;
    height: 250PX;
}

#cat{
    display: flex;
    margin: auto;
}

#cat div{
    text-align: start;
    margin: auto 30px;
    gap: 10px;
    width: 50%;
}

#log{
    display: flex;
    margin: auto;
}

#log div{
    text-align: end;
    margin: auto 30px;
    gap: 10px;
    width: 50%;
}
/*/


/* CATALOGO */
.catalogo{
    display: grid;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.second{
    display: flex;
    gap: 20px;
}

.catalogo img{
    width: 250px;
    border-radius: 20px;
}
/*/


/* BOLSON */
#infoBolson{
    justify-content: center;
    display: grid;
    gap: 30px;
    margin: auto;
    padding: 20px;
    width: 50%;
}

label strong{
    color:#ffd202;
}

form{
    margin: 40px auto;
    width: 80%;
}

fieldset{
    width: 50%;
    display: grid;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin: auto;
    background-color: #719DA5;
    border-radius: 20px;
    border: 0;
}

fieldset legend{
    text-align: center;
    font-size: 2rem;
}

#nombApell{
    display: flex;
    gap: 20px;
}

input{
    border-radius: 20px;
    padding: 5px;
    background-color: #fdf8df;
    border: 0;
    color: #719DA5;
}

input:focus{
    background-color:  #73a3ad ;
    color: #fdf8df;
    border-radius: 2px;
}

.enviarBtn{
    background-color: #fdf8df;
    padding: 10px;
    border-radius: 30px;
    color: #73a3ad;
    float: inline-end;
}

.enviarBtn:hover{
    background-color:  #73a3ad ;
    color: #fdf8df;
    border: 1;
    border-style: solid;
    border-color: #fdf8df;
}

textarea{
    width: 100%;
    resize: none;
    border-radius: 20px;
    padding: 5px;
    background-color: #fdf8df;
    border: 0;
    color: #719DA5;
}

textarea:focus{
    background-color:  #73a3ad ;
    color: #fdf8df;
    border-radius: 2px;
}
/*/


/* FOOTER */
footer{
    bottom: 0;
    margin-top: 100px;
    background-color: #719DA5;
    display: grid;
    padding: 40px 20px;
    text-align: center;
    gap: 10px;
    justify-content: center;
    padding-bottom: 10px;
}

footer div a{
    font-size: 1.5rem;
}
/*/


/* ADMIN */
#admin{
    background-color: #fdf8df;
    color: #719DA5;
}

#admin header {
    background-color: #ffd202;
}

#admin footer {
    background-color: #ffd202;
}

#admin a {
    color: #719DA5;
}

#admin a:hover {
    color: #fdf8df;
}

#admin table{
    border-radius: 10px;
    padding: 8px;
    background-color: #ffd202;
    border: 1;
    border-style: solid;
    border-color: #73a3ad;
    text-align: center;
    margin: 10px auto;
}

#admin table td{
    padding: 5px;
}

#admin table a{
    border-radius: 10px;
    padding: 2px;
    border: 1;
    border-style: solid;
    border-color: #73a3ad;
}
/*/