/* GENERAL */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #73a3ad;
    color: #fdf8df;
}

ul{
    list-style: none;
}

a{
    color: #fdf8df;
    text-decoration: none;
}

a:hover{
    color: #ffd202;
}

button{
    background-color: #fdf8df;
    padding: 15px;
    border: 1;
    border-style: hidden;
    border-radius: 30px;
    color: #719DA5;
}

button:hover{
    background-color:  #719DA5 ;
    border-radius: 30px;
    color: #fdf8df;
    border-style: solid;
    border-color: #fdf8df;
}


/* HEADER */
header{
    top: 0;
    background-color: #719DA5;
    display: grid;
    padding: 40px 20px;
    text-align: center;
}

header ul{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

header div{
    margin: 0%;
}

#carrito{
    float: right;
    font-size: 2rem;
}

/* INDEX */
.banner {
    width: 100%;
    height: auto;
}

.seccion{
    display:flex;
    margin: 50px 20%;
    width: 90%;
}

.seccion img{
    width: 250px;
    border-radius: 20px;
}


/* FOOTER */
footer{
    bottom: 0;
    background-color: #719DA5;
    display: grid;
    padding: 40px 20px;
    text-align: center;
    gap: 10px;
    justify-content: center;
    padding-bottom: 10px;
}

footer div{
    font-size: 1.5rem;
}