/* GENERAL */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: violet;
}

a{
    color:beige;
    text-decoration: none;
}

header{
    top: 0;
}

footer{
    bottom: 0;
}

.banner{
    width: 20%;
}